

.general {
    width: 210mm; /* Ancho de una hoja A4 */
    height: 370mm; /* Alto de una hoja A4 */
    margin: 20px auto; /* Margen exterior para centrar la página en la pantalla */
    border: 0px solid #000; /* Borde de 1 píxel para simular un borde de página */
    padding: 2.54cm; /* Relleno interior para simular el espacio de Word */
    background-color: white; /* Color de fondo blanco */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Sombra para simular profundidad */
     /* Fuente predeterminada */
    display: flex;
    column-gap: 16px;
    font-family: 'Lato', sans-serif;
}



img{
    width: 6.72cm;
    height: 6.72cm;
}


body{
   
    background-image: url('multi/verdoso.jpg');
    background-size: cover; 
    background-repeat: no-repeat;
}


.cuadro_blanco{
    flex: 1;
    padding: 30px;
}



.cuadro_verde{
    flex: 1;
    background-color: #34db7f;
    padding: 46px;
    
}




.cuadro_blanco h2 {
    background-color: #34db7f; /* Color de fondo del cuadro */
    width: 8.5cm;
    height: 0.7cm;
    padding: 10px 20px; /* Relleno para el espacio dentro del cuadro */
    border-radius: 10px; /* Borde redondeado para las esquinas */
    color: #000000; /* Color del texto */
    margin: 0; /* Elimina el margen predeterminado del título */
}

.cuadro_verde h2 {
    border: 2px solid rgb(255, 255, 255); /* Establece un borde sólido de 2 píxeles de grosor en color negro */
    padding: 10px; /* Añade un espacio de 10 píxeles alrededor del contenido del título */
    display: inline-block; /* Hace que los títulos se comporten como elementos en línea para que el borde los rodee completamente */
    border-radius: 10px;
    width: 8.5cm;
    background-color: transparent; /* Establece el fondo como transparente para que no haya relleno */
}

table {
    border-collapse: collapse; /* Combina los bordes de las celdas adyacentes */
    width: 100%;
}

th, td {
    border: 1px solid #dddddd; /* Establece el borde de 1 píxel sólido */
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #f2f2f2; /* Agrega un fondo de color a las filas pares */
}